<% layout("layout/boilerplate") %>

<div class="row mt-3">
  <h1 class="text-center">Edit Campgrounds</h1>
  <div class="col-md-6 offset-md-3">
    <form action="/campground/<%= campground._id %>?_method=PUT" method="POST" class="validated-form"
      enctype="multipart/form-data" novalidate>

      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="title" id="title" class="form-control" value="<%= campground.title %>" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="location" id="location" class="form-control" value="<%= campground.location %>"
          required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <div class="input-group">
          <span class="input-group-text" id="form-price">$</span>
          <input type="number" class="form-control" placeholder="0.00" aria-label="price" aria-describedby="form-price"
            name="price" value="<%= campground.price %>" required>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" id="description" class="form-control"
          required><%= campground.description %></textarea>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3 custom-file">
        <label for="image" class="form-label custom-file-label">Add more Images</label>
        <input type="file" name="image" id="image" class="form-control" multiple>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="mb-3">
        <% campground.images.forEach((img, i)=> { %>
          <img src="<%= img.thumbnail %>" alt="" width="200" height="200">
          <div class="form-check form-check-inline">
            <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%= img.filename %>">
            <label for="image-<%=i%>">Delete?</label>
          </div>
          <% }) %>
      </div>

      <div class="mb-3">
        <button class="btn btn-info text-white">Update campground</button>
      </div>
    </form>

    <p>
      <a href="/campground/<%= campground._id  %>">Back to Campground</a>
    </p>
  </div>
</div>