<% layout("layout/boilerplate") %>

  <div class="row">
    <div class="col-md-6">
      <div class="card my-5">
        <img src="<%= campground.image%>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            <%= campground.title %>
          </h5>
          <p class="card-text">
            <%= campground.description%>
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-muted">
            <%= campground.location %>
          </li>
          <li class="list-group-item">
            Submitted by <%= campground.author.username %>
          </li>
          <li class="list-group-item">$<%= campground.price %>/night </li>
        </ul>

        <% if (currentUser && campground.author.equals(currentUser._id)) {%>
          <div class="card-body">
            <a href="/campground/<%= campground._id %>/edit" class="card-link btn btn-info text-white">Edit</a>
            <form action="/campground/<%= campground._id%>?_method=DELETE" method="POST" class="d-inline">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
            <div class="card-footer text-muted">
              2 days ago
            </div>
      </div>
    </div>

    <div class="col-md-6 my-5">
      <form action="/campground/<%= campground._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate>
        <h2>Leave a Review</h2>
        <div class="mb-3">
          <label for="rating" class="form-label">Rating</label>
          <input type="range" name="rating" id="rating" class="form-control" min="1" max="5" required>
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Review</label>
          <textarea name="body" id="body" class="form-control" rows="3" required></textarea>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <button class="btn btn-success">Submit</button>
      </form>

      <% for (let review of campground.reviews.reverse()) { %>
        <div class="mb-3 card">
          <div class="card-body">
            <h5 class="card-title">Rating: <%= review.rating %>
            </h5>
            <p> Review: <%= review.body %>
            </p>
            <form action="/campground/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
        </div>
        <%} %>
    </div>
  </div>